<html lang="eu">
  <head>
  </head>
  <body class="<%= @home_page ? 'homepage' : ''%>">
    <div ng-app="devsbi">
      <div class="view-container">
        <div ng-view class="view-frame animate-view"></div>
      </div>
    </div>
  </body>
</html>
