<div ng-app="devsbi">
  <p>this is root bar</p>
  <p ng-show="user.authenticated">Welcome, {{user.id}}</p>
  <div class="view-container">
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>
