<title>Business Intelligence Dashboard for Developers</title>
<nav class="navbar navbar-default" role="navigation" style="margin-top:50px; margin-left:80px; margin-right:80px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><font size="6" color="white">DevsBI</font></a>
    </div>
    <div class="collapse navbar-collapse">
      <form class="nav navbar-form navbar-right">
        <button class="btn btn-signup" ng-click="goto('signup')">SIGN UP</button>
        <button class="btn btn-login" ng-click="goto('login')">LOG IN</a></button>
      </form>
    </div>
  </div>
</nav>
