<div class="container">
  <div class="row">
    <h1 class="text-center" style="color:white">DevsBI</h1>
    <form ua-login class="form-signin" id="login">
      <div class="form-group">
        <input class="form-control" name="login" placeholder="User ID" required />
      </div>
      <div class="form-group">
        <input class="form-control" name="password" placeholder="Password" type="password" required />
      </div>
      <div class="row form-group col-md-12 col-md-offset-2">
        <button class="btn btn-login col-md-4" ng-click="login()">Log In</button>
        <p class="col-md-1">or</p>
        <a href="#/signup" class="col-md-4">Sign up</a>
      </div>

      <p ng-show="error">{{ error.message }}</p>
    </form>
  </div>
</div>
